<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="yours.dao.FrontDanmakuMapper">
    <resultMap id="BaseResultMap" type="yours.pojo.FrontDanmaku">
        <id column="fd_id" jdbcType="VARCHAR" property="id" />
        <result column="fu_id" jdbcType="VARCHAR" property="frontUserId" />
        <result column="fv_id" jdbcType="VARCHAR" property="frontVideoId" />
        <result column="fd_time" jdbcType="DOUBLE" property="time" />
        <result column="fd_text" jdbcType="VARCHAR" property="text" />
        <result column="fd_color" jdbcType="VARCHAR" property="color" />
        <result column="fd_type" jdbcType="VARCHAR" property="type" />
        <result column="fd_v" jdbcType="INTEGER" property="v" />
        <result column="fd_createTime" jdbcType="TIMESTAMP" property="createTime" />
        <result column="fd_state" jdbcType="INTEGER" property="state" />
    </resultMap>
    <sql id="Base_Column_List">
    fd_id, fu_id, fv_id, fd_time, fd_text, fd_color, fd_type, fd_v, fd_createTime, fd_state
  </sql>

    <!-- 以下自动生成 -->
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from front_danmaku
        where fd_id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from front_danmaku
    where fd_id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="yours.pojo.FrontDanmaku">
    insert into front_danmaku (fd_id, fu_id, fv_id,
      fd_time, fd_text, fd_color, fd_type,
      fd_v, fd_createTime, fd_state
      )
    values (#{id,jdbcType=VARCHAR}, #{frontUserId,jdbcType=VARCHAR}, #{frontVideoId,jdbcType=VARCHAR},
      #{time,jdbcType=DOUBLE}, #{text,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
      #{v,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{state,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="yours.pojo.FrontDanmaku">
        insert into front_danmaku
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                fd_id,
            </if>
            <if test="frontUserId != null">
                fu_id,
            </if>
            <if test="frontVideoId != null">
                fv_id,
            </if>
            <if test="time != null">
                fd_time,
            </if>
            <if test="text != null">
                fd_text,
            </if>
            <if test="color != null">
                fd_color,
            </if>
            <if test="type != null">
                fd_type,
            </if>
            <if test="v != null">
                fd_v,
            </if>
            <if test="createTime != null">
                fd_createTime,
            </if>
            <if test="state != null">
                fd_state,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="frontUserId != null">
                #{frontUserId,jdbcType=VARCHAR},
            </if>
            <if test="frontVideoId != null">
                #{frontVideoId,jdbcType=VARCHAR},
            </if>
            <if test="time != null">
                #{time,jdbcType=DOUBLE},
            </if>
            <if test="text != null">
                #{text,jdbcType=VARCHAR},
            </if>
            <if test="color != null">
                #{color,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="v != null">
                #{v,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="yours.pojo.FrontDanmaku">
        update front_danmaku
        <set>
            <if test="frontUserId != null">
                fu_id = #{frontUserId,jdbcType=VARCHAR},
            </if>
            <if test="frontVideoId != null">
                fv_id = #{frontVideoId,jdbcType=VARCHAR},
            </if>
            <if test="time != null">
                fd_time = #{time,jdbcType=DOUBLE},
            </if>
            <if test="text != null">
                fd_text = #{text,jdbcType=VARCHAR},
            </if>
            <if test="color != null">
                fd_color = #{color,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                fd_type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="v != null">
                fd_v = #{v,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                fd_createTime = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null">
                fd_state = #{state,jdbcType=INTEGER},
            </if>
        </set>
        where fd_id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="yours.pojo.FrontDanmaku">

    update front_danmaku
    set fu_id = #{frontUserId,jdbcType=VARCHAR},
      fv_id = #{frontVideoId,jdbcType=VARCHAR},
      fd_time = #{time,jdbcType=DOUBLE},
      fd_text = #{text,jdbcType=VARCHAR},
      fd_color = #{color,jdbcType=VARCHAR},
      fd_type = #{type,jdbcType=VARCHAR},
      fd_v = #{v,jdbcType=INTEGER},
      fd_createTime = #{createTime,jdbcType=TIMESTAMP},
      fd_state = #{state,jdbcType=INTEGER}
    where fd_id = #{id,jdbcType=VARCHAR}

  </update>
</mapper>